<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Newformweb</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>Login.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>Login.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logDao</display-name>
    <servlet-name>logDao</servlet-name>
    <servlet-class>Login.logDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logDao</servlet-name>
    <url-pattern>/logDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dataConnection</display-name>
    <servlet-name>dataConnection</servlet-name>
    <servlet-class>Login.dataConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dataConnection</servlet-name>
    <url-pattern>/dataConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingSarvlet</display-name>
    <servlet-name>SingSarvlet</servlet-name>
    <servlet-class>Login.SingSarvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingSarvlet</servlet-name>
    <url-pattern>/SingSarvlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>profilservlet</display-name>
    <servlet-name>profilservlet</servlet-name>
    <servlet-class>Login.profilservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profilservlet</servlet-name>
    <url-pattern>/profilservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>profilebm</display-name>
    <servlet-name>profilebm</servlet-name>
    <servlet-class>Login.profilebm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profilebm</servlet-name>
    <url-pattern>/profilebm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addservlet</display-name>
    <servlet-name>Addservlet</servlet-name>
    <servlet-class>Login.Addservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addservlet</servlet-name>
    <url-pattern>/Addservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>profileDao</display-name>
    <servlet-name>profileDao</servlet-name>
    <servlet-class>Login.profileDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profileDao</servlet-name>
    <url-pattern>/profileDao</url-pattern>
  </servlet-mapping>
  
</web-app>